<div class="col-sm-9">
    <div class="container">
        <div class="row justify-content-between mb-3 border-bottom p-4">
            <b class="h3">Xem xét nâng cấp</b>

            {{!--
            <a class="btn btn-outline-primary m-0" href="#" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Quay lại
            </a>
            --}}

        </div>
        <div class="row justify-content-lg-center" style="border-bottom: 3px solid #000;">
            <div class="col-lg-5 p-2 mb-5">
                <div class="card text-white h-100" style="background-color : #2ECC71">
                    <div class="row card-body">
                        <div class="col-8">
                            <p>
                                Sản phẩm đấu giá thành công và đang giữ giá
                            </p>
                            <b class="h1">
                                {{total}}
                            </b>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-check-square fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 p-2 mb-5">
                <div class="card text-white h-100" style="background-color : #8E44AD">
                    <div class="row card-body">
                        <div class="col-8">
                            <p>
                                Điểm đánh giá
                            </p>
                            <b class="h1">
                                {{score}}%
                            </b>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-exclamation-circle fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 p-2 mb-5">
                <div class="card text-white h-100" style="background-color : #2980b9">
                    <div class="row card-body">
                        <div class="col-8">
                            <p>
                                Số lượt tham gia đấu giá sản phẩm
                            </p>
                            <b class="h1">
                                {{totalBid}} lượt
                            </b>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-money fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 mb-3">
                <form action="/admin/user/upgrade" method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit" class="btn btn-primary w-100 btn-lg" style="border-radius: 50px;">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span>Chấp nhận nâng cấp</span>
                    </button>
                </form>
            </div>
            <div class="col-md-6">
                <a class="btn btn-success w-100 btn-lg" style="border-radius: 50px;" href="javascript:history.back()" role="button">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    <span>Xem xét sau</span>
                </a>
            </div>
        </div>
    </div>
</div>