<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Auction</title>
    {{!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {{{_sections.css}}}
    --}}
    <link rel="stylesheet" href="/public/login/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/login/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/login/css/style.css">
    <link type="text/css" rel="stylesheet" href="/public/main/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/public/main/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/public/main/css/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/public/main/css/nouislider.min.css"/>
    <link type="text/css" rel="stylesheet" href="/public/main/css/style.css"/>
</head>
<body>
    <header>
        <div id="header">
            <div class="container">
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/" class="logo">
                                <img src="">
                            </a>
                        </div>
                    </div>
                    <!-- SEARCH BAR -->
                    <div class="col-md-6"></div>
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <div>
                                <a href="/login">
                                    <i class="fa fa-sign-in"></i>
                                    <span>Đăng nhập</span>
                                </a>
                            </div>
                            <div>
                                <a href="/signup">
                                    <i class="fa fa-user-plus"></i>
                                    <span>Đăng ký</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

{{{body}}}
{{!--
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
--}}
<script src="/public/login/js/jquery-3.3.1.min.js"></script>
<script src="/public/login/js/popper.min.js"></script>
<script src="/public/login/js/bootstrap.min.js"></script>
<script src="/public/login/js/main.js"></script>
<script src="/public/main/js/jquery.min.js"></script>
<script src="/public/main/js/bootstrap.min.js"></script>
<script src="/public/main/js/slick.min.js"></script>
<script src="/public/main/js/nouislider.min.js"></script>
<script src="/public/main/js/jquery.zoom.min.js"></script>
<script src="/public/main/js/main.js"></script>
{{{_sections.js}}}
</body>
</html>