{{#section 'js'}}
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.5/js/locales/vi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.5/themes/fa/theme.min.js"></script>
    <script>

        $("#input-fcount-2").fileinput({
            uploadUrl: "/site/test-upload",
            upload:false,
            enableResumableUpload: true,
            allowedFileExtensions: ['jpg', 'png', 'gif','jpeg', 'webp'],
            initialPreviewAsData: true,
            maxFileCount: 5,
            minFileCount: 3,
            theme: 'fa',
            language: 'vi',
            deleteUrl: '/site/file-delete',
            showUpload: false,
            fileActionSettings: {
                showZoom: function(config) {
                    if (config.type === 'pdf' || config.type === 'image') {
                        return true;
                    }
                    return false;
                },
            }
        });
    </script>


    <script src="https://cdn.tiny.cloud/1/o97nc395odxihuh8oga04zckhjjvpcyw7fhsbn13j2t1j9as/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#txtArea',
            plugins: 'paste image link autolink lists table media',
            menubar: false,
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
            ],
        });

    </script>

    <script>
        $("#proEndDate").attr("min", new Date());


        $("#main-image").on("click", function(){
            $("#my_file").trigger("click")
        })

        // $("#image1").on("click", function(){
        //     $("#my_file1").trigger("click")
        // })
        //
        // $("#image2").on("click", function(){
        //     $("#my_file2").trigger("click")
        // })

        // Jquery Dependency

        $("input[data-type='currency']").on({
            keyup: function() {
                formatCurrency($(this));
            },
            blur: function() {
                formatCurrency($(this), "blur");
            }
        });

        $('#selectCatParent').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;

            $.getJSON(`/seller/channel/getCatChild?catParentID=${valueSelected}`, function (data) {
                $('#selectCatChild')
                        .empty();

                if (data === false) {
                    alert('Not available!');
                } else {
                    $.each(data, function (i, item) {
                        console.log(data)
                        $('#selectCatChild').append($('<option>', {
                            value: i,
                            text : item.name
                        }));
                    });
                }
            });
        });


        function formatNumber(n) {
            // format number 1000000 to 1,234,567
            return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
        function formatCurrency(input, blur) {
            // appends $ to value, validates decimal side
            // and puts cursor back in right position.

            // get input value
            var input_val = input.val();

            // don't validate empty input
            if (input_val === "") { return; }

            // original length
            var original_len = input_val.length;

            // initial caret position
            var caret_pos = input.prop("selectionStart");

            // check for decimal
            if (input_val.indexOf(".") >= 0) {

                // get position of first decimal
                // this prevents multiple decimals from
                // being entered
                var decimal_pos = input_val.indexOf(".");

                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos);

                // add commas to left side of number
                left_side = formatNumber(left_side);

                // validate right side
                right_side = formatNumber(right_side);

                // On blur make sure 2 numbers after decimal
                if (blur === "blur") {
                    right_side += "00";
                }

                // Limit decimal to only 2 digits
                right_side = right_side.substring(0, 2);

                // join number by .
                // input_val = "$" + left_side + "." + right_side;
                input_val = "$" + left_side + ".";

            } else {
                // no decimal entered
                // add commas to number
                // remove all non-digits
                input_val = formatNumber(input_val);
                input_val = "$" + input_val;

                // final formatting
                // if (blur === "blur") {
                //     input_val += ".00";
                // }
            }

            // send updated string to input
            input.val(input_val);

            // put caret back in the right position
            var updated_len = input_val.length;
            caret_pos = updated_len - original_len + caret_pos;
            input[0].setSelectionRange(caret_pos, caret_pos);
        }

    </script>


    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("proEndDate").setAttribute("min", today);
    </script>


    <!--Validation form before We submit-->
    <script>
        $('#formSubmit').on('submit', function (e){
            e.preventDefault();
            //Kiểm tra danh mục
            const data = $('#selectCatParent').find(':selected').val();
            console.log(data);
            // So sánh giá khởi điểm và giá mua ngay
            const firstPrice = Number($('#firstPrice').val().replace(/[^0-9.-]+/g,""));
            const proBuyNowPrice = Number($('#proBuyNowPrice').val().replace(/[^0-9.-]+/g,""));
            const proPriceStep = Number($('#proPriceStep').val().replace(/[^0-9.-]+/g,""));

            if (firstPrice <= 10000){
                $('#firstPrice').focus();
                alert('Giá khởi điểm phải lớn hơn 10,000đ');
                return;
            }

            if (proBuyNowPrice <= 10000){
                $('#proBuyNowPrice').focus();
                alert('Giá mua ngay phải lớn hơn 10,000đ');
                return;
            }

            if (proPriceStep <= 1000){
                $('#proPriceStep').focus();
                alert('Bước giá phải lớn hơn 1000đ')
                return;
            }

            if (firstPrice >= proBuyNowPrice){
                $('#firstPrice').focus();
                alert('Giá khởi điểm phải nhỏ hơn giá mua ngay')
                return;
            }

            const numberImage = $('#input-fcount-2').fileinput('getFilesCount', true);
            console.log(numberImage);
            if (numberImage < 3){
                alert('Số lượng ảnh phải lớn hơn hoặc bằng 3')
                return;
            }


            console.log(firstPrice);
            console.log(proBuyNowPrice);

            $('#formSubmit').off('submit').submit();
        })

        // $('#input-fcount-2').change(function () {
        //     const fileCount = this.files.length;
        //     alert(fileCount);
        // })



    </script>






{{/section}}

{{#section 'css'}}
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{{/section}}


<div class="container-fluid ">
    <p class="h3">
        <b>Thêm sản phẩm</b>
    </p>

    <form action="" method="post" enctype="multipart/form-data" id="formSubmit">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="background-color: #E5E5E5; border-radius: 20px;">
                    <div class="card-body">
                        <div class="form-group">
                            <p class="h5">
                                <b>Danh mục cha</b>
                            </p>

                            <div class="btn-group w-100">
                                <select class="custom-select bg-secondary text-white" name="catParent" id="selectCatParent" required >
                                    <option disabled selected value="">Danh mục cha</option>
                                    {{#each this.catList}}
                                        <option value="{{_id}}">{{catParent}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card" style="background-color: #E5E5E5; border-radius: 20px;">
                    <div class="card-body">
                        <div class="form-group">
                            <p class="h5">
                                <b>Danh mục con</b>
                            </p>

                            <select class="custom-select bg-secondary text-white" name="catChild" id="selectCatChild">
                                <option value="" disabled selected>Danh mục con</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-5">
            <div class="col">
                <div class="card" style="background-color: #E5E5E5; border-radius: 20px;">
                    <div class="card-header ">
                        <b class="h3">Thông tin sản phẩm</b>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="form-group w-100 p-3">
                                <label for="TenSanPham" class="h4">Tên sản phẩm</label>
                                <textarea id="TenSanPham" rows="3" name="proName" class="form-control" placeholder="Áo Hoddie xám chất lượng cao ..." required></textarea>
<!--                                <input type="text" id="TenSanPham" name="proName" class="form-control" placeholder="Áo Hoddie xám chất lượng cao ..." required>-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 ">
                                <div class="form-group">
                                    <label for="firstPrice" class="h4">Giá khởi điểm</label>
                                    <div>
                                        <input type="text"
                                               name="firstPrice"
                                               style="padding: 6px 12px 6px 12px;"
                                               id="firstPrice"
                                               pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                                               value=""
                                               data-type="currency"
                                               placeholder="$1,000,000"
                                               required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="proPriceStep" class="h4">Bước giá</label>
                                    <div>
                                        <input type="text"
                                               name="proPriceStep"
                                               style="padding: 6px 12px 6px 12px;"
                                               id="proPriceStep"
                                               pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                                               value=""
                                               data-type="currency"
                                               placeholder="$1,000,000"
                                               required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="proBuyNowPrice" class="h4">Giá mua ngay</label>
                                    <div>
                                        <input type="text"
                                               name="proBuyNowPrice"
                                               style="padding: 6px 12px 6px 12px;"
                                               id="proBuyNowPrice"
                                               pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                                               value=""
                                               data-type="currency"
                                               placeholder="$1,000,000"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="TenSanPham" class="h4">Tự động gia hạn</label>
                                    <div>
                                        <div class="custom-control custom-radio custom-control-inline" >
                                            <input type="radio" id="customRadioInline1" value="true" name="autoExtend" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadioInline1">Có</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline" >
                                            <input type="radio" id="customRadioInline2" value="no" name="autoExtend" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2">Không</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="TenSanPham" class="h4">Bidder có thể đấu giá</label>
                                    <div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline3" value="true" name="bidderRange" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline3">Tất cả</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline4" value="false" name="bidderRange" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadioInline4">Bidder Uy Tín</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="TenSanPham" class="h4">Ngày kết thúc</label>

                                    <div>
                                        <input type="date" id="proEndDate" name="proEndDate" min="2021-05-27"  required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="subImage" class="h4">Ảnh sản phẩm (Ảnh đầu tiên là ảnh chính)</label>
                                    <input id="input-fcount-2" name="Image" type="file" multiple="multiple">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="txtArea"><b class="h4">Mô tả sản phẩm</b></label>
                                <textarea class="form-control border-dark" name="proDescription" style="height: 500px" placeholder="Mô tả sản phẩm" id="txtArea" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-muted">
                        <button class="btn btn-lg btn-primary" type="submit" id="addProductBtn">
                            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                            <span class="h3">Thêm sản phẩm</span>
                        </button>


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Bạn có chắc chắn muốn thêm sản phẩm này không ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn " data-dismiss="modal">No</button>

                                        <button class="btn btn-lg btn-primary" data-dismiss="modal" id="submitBtn" >
                                            Yes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>

</div>
