<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Online Auction</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/public/error/css/style.css">


</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404"></div>
			<h1>404</h1>
			<h2>Oops! Không tìm thấy trang</h2>
			<p>Xin lỗi, trang bạn đang tìm kiếm không tồn tại, đã bị xóa hoặc thay đổi, hoặc tạm thời không khả dụng.</p>
			<a href="/">Quay lại trang chủ</a>
		</div>
	</div>

</body>

</html>
