{{#section 'css'}}
    <style>
        #footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
{{/section}}

{{#section 'js'}}
    <script>
        $('#frmRegister').on('submit', function (e) {
            e.preventDefault();
            const email = $('#email').val();
            $.getJSON(`/account?email=${email}`, function (data) {
                if (data === false) {
                    document.getElementById('text').innerHTML = '<strong class="has-text-success">Đã xác nhận yêu cầu thay đổi mật khẩu. Vui lòng kiểm tra email của bạn.</strong>'
                    $('#frmRegister').off('submit').submit();
                }
                else {
                    document.getElementById('text').innerHTML = '<strong class="has-text-danger">Email không tồn tại.</strong>';
                }
            });
        });
    </script>
{{/section}}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <p class="has-text-centered h3">QUÊN MẬT KHẨU</p>
        <form action="/forget-password" method="post" id="frmRegister">
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input class="input" type="email" placeholder="Nhập email" autofocus name="email" id="email" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                </div>
            </div>
            <p id="text"></p>
            <button class="button is-success is-rounded" type="submit">Xác nhận</button>
        </form>
    </div>
</div>
<p>&nbsp;</p>