{{!--
{{#section 'css'}}
    <style>
        #footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
{{/section}}
--}}

{{#section 'js'}}
    <script>
        $('#frmRegister').on('submit', function (e) {
            e.preventDefault();
            const pass = $('#password').val();
            const pass2 = $('#rePassword').val();
            if (pass != pass2) {
                document.getElementById('text').innerHTML = '<strong class="text-danger">Mật khẩu xác nhận không đúng.</strong>';
            }
            else {
                document.getElementById('text').innerHTML = '<strong class="text-success">Thay đổi mật khẩu thành công.</strong>';
                $('#frmRegister').off('submit').submit();
            }
        });
    </script>
{{/section}}

{{!--
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <p class="has-text-centered h3">ĐỔI MẬT KHẨU</p>
        <form action="/change" method="post" id="frmRegister">
            <div class="field">
                <label class="label">Mật khẩu</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" placeholder="Nhập mật khẩu" name="pass" id="password" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Xác nhận mật khẩu</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" placeholder="Nhập lại mật khẩu" id="rePassword" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                </div>
            </div>
            <input type="hidden" name = "id" value = {{this.id}}>
            <p id="text"></p>
            <button class="button is-success is-rounded" type="submit">Xác nhận</button>
        </form>
    </div>
</div>
<p>&nbsp;</p>
--}}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/public/login/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Đổi mật khẩu</h3>
                        </div>
                        <form action="/change" method="post" id="frmRegister">
                            <div class="form-group first">
                                <label for="username">Mật khẩu</label>
                                <input type="password" class="form-control" name="pass" id="password" autofocus required>
                            </div>
                            <div class="form-group last mb-4">
                                <label for="username">Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" id="rePassword" required>
                            </div>
                            <input type="hidden" name = "id" value = {{this.id}}>
                            <p id="text"></p>
                            <input type="submit" value="Xác nhận" class="btn btn-block btn-danger">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>