<p class="has-text-centered h2">
    TOP 5 SẢN PHẨM GẦN KẾT THÚC
</p>
<p class="has-text-centered">
    Lần cuối cập nhật: <strong> 14:24:45 01/12/2021 </strong>
</p>
<div class="row justify-content-center">
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<p class="has-text-centered h2">
    TOP 5 SẢN PHẨM CÓ NHIỀU LƯỢT RA GIÁ NHẤT
</p>
<div class="row justify-content-center">
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>
            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<p class="has-text-centered h2">
    TOP 5 SẢN PHẨM CÓ GIÁ CAO NHẤT
</p>
<div class="row justify-content-center">
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-centered">Tên sản phẩm</p>
                </div>
            </div>

            <div class="content">
                <p> Giá: </p>
                <p> Mô tả: </p>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>