{{#section 'js'}}
    <script>
        // $('#navigation').hide();
        $('.upgrade').on('click', function (e){
            $('#confirmModal').modal('show')
            $('#confirm').on('click', function (e){
                $('#confirmModal').modal('toggle')
                $.getJSON(`/user/upgrade`, function (data) {
                    if (data === false) {
                        $('#exampleModalCenter').modal('show')
                    }
                    else {
                        $('#success').modal('show')
                    }
                });

            })
        })
    </script>
    <script>
        $('#frmChangePass').on('submit', function (e) {

            e.preventDefault();
            const pass = $('#oldPass').val()
            const pass1 = $('#pass1').val();
            const pass2 = $('#pass2').val();
            if (pass1 != pass2) {
                    document.getElementById('text').innerHTML = '<strong class="has-text-danger">Mật khẩu nhập lại không đúng.</strong>';
                    return;
            }

            $.getJSON(`/user/account?pass=${pass}`, function (data) {
                if (data === false) {
                    document.getElementById('text').innerHTML = '<strong class="has-text-danger">Sai mật khẩu.</strong>';
                    return
                }
                else{
                    document.getElementById('text').innerHTML = '<strong class="has-text-success"></strong>';
                    $('#confirmUpdatePassModal').modal('show')
                    $('#confirmUpdate').on('click', function (e) {
                        $('#confirmUpdate').modal('toggle')
                        $('#frmChangePass').off('submit').submit()
                    })
                }
            })
        })


    </script>
{{/section}}
{{#section 'css'}}
    <style>
        body{
            padding-right: 0px !important;
        }
    </style>
{{/section}}

<div class="container-fluid" style="height: 400px !important; ">
    <div class="row justify-content-center">
        <div class="col-sm-3" style="background-color: #15161D; height: 400px !important;">
            <ul class="nav flex-column">
                <div class="h3 text-center ml-auto mr-auto" style="color: #FFFFFF"><strong>Hồ sơ</strong></div>
                <li class="nav-item">
                    <a class="nav-link h4 text-center " style="color: #FFFFFF" href="/user/update-profile">Cập nhật hồ sơ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4 text-center" style="background: #FFFFFF" href="/user/change-password">Đổi mật khẩu</a>
                </li>
                {{#if bidderRole}}
                    <li class="nav-item">
                        <a class="nav-link h4 text-center upgrade" style="color: #FFFFFF" href="#">Nâng cấp tài khoản</a>
                    </li>
                {{/if}}
            </ul>
        </div>
        <div class="col-sm-9" style="padding: 25px">
            <form id="frmChangePass" method="post" action="/user/change-password">
                <div class="form-group row ml-auto mr-auto mt-5">
                    <label for="oldPass" class="col-sm-3 col-form-label">Mật khẩu cũ</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="oldPass" placeholder="">
                    </div>
                </div>
                <div class="form-group row ml-auto mr-auto">
                    <label for="newPass" class="col-sm-3 col-form-label">Mật khẩu mới</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="pass1" placeholder="" name="newPass">
                    </div>
                </div>
                <div class="form-group row ml-auto mr-auto">
                    <label for="renewPass" class="col-sm-3 col-form-label">Xác nhận mật khẩu</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="pass2" placeholder="">
                        <p id="text"  style="color: #e74c3c"></p>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-11 text-center">
                        <button type="submit" class="btn btn-primary ml-auto mr-auto mb-3">Cập nhật</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="modal fade has-background-grey-lighter" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yêu cầu của bạn đã được gửi trước đó.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade has-background-grey-lighter" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yêu cầu của bạn đã được gửi thành công.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade has-background-grey-lighter" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Xác nhận bạn có muốn gửi yêu cầu nâng cấp tài khoản thành người bán.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button id="confirm" type="button" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade has-background-grey-lighter" id="confirmUpdatePassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Xác nhận bạn có muốn đổi mật khẩu.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button id="confirmUpdate" type="button" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>