<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-3 has-background-grey-lighter">
            <ul class="nav flex-column">
                <div class="h4 text-center ml-auto mr-auto p-4">Hồ sơ</div>
                <li class="nav-item">
                    <a class="nav-link h6 text-center" href="/user/update-profile">Cập nhật hồ sơ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h6 text-center" href="/user/change-password">Đổi mật khẩu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h6 text-center" href="#">Nâng cấp tài khoản</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <form>
                <div class="form-group row ml-auto mr-auto">
                    <label for="oldPass" class="col-sm-3 col-form-label">Mật khẩu cũ</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="oldPass" placeholder="">
                    </div>
                </div>
                <div class="form-group row ml-auto mr-auto">
                    <label for="newPass" class="col-sm-3 col-form-label">Mật khẩu mới</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="newPass" placeholder="">
                    </div>
                </div>
                <div class="form-group row ml-auto mr-auto">
                    <label for="renewPass" class="col-sm-3 col-form-label">Xác nhận mật khẩu</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="renewPass" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-11 text-center">
                        <button type="submit" class="btn btn-primary ml-auto mr-auto mb-3">Cập nhật</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>